#adrien {
  background: url(images/fond-repeat.png) repeat-x rgb(15,12,5);
}

#header {
  height: 135px;
  display: block;
}

#logo {
  display: inline;
  float: left
}

#logo a {
/* forces full link size */
  display: block;
/* this hides the text */
  text-indent: -9999em;
  width: 655px;
  height: 135px;
  background: url(images/logo.png) no-repeat;
}

#menu {
  display: inline;
  float: left;
  margin-left: -298px;
}

#menu-perso {
  margin-top: 12px;
  float: left;
}

#menu a {
/* forces full link size */
  display: block;
/* this hides the text */
  text-indent: -9999em;
}

#menu-perso .perso {
  width: 33px;
  height: 124px;
  background: url(images/perso.png) no-repeat;
}

#menu-perso .rough {
  width: 45px;
  height: 127px;
  background: url(images/btn-perso-rough.png ) no-repeat;
}

#menu-perso .divers {
  width: 42px;
  height: 136px;
  background: url(images/btn-perso-divers.png ) no-repeat;
}

#menu-perso .illustration {
  width: 49px;
  height: 127px;
  background: url(images/btn-perso-illustration.png ) no-repeat;
}

#menu ul {
  list-style-type: none;
}

#menu li {
  float: left;
}

#menu-pro {
  float: left;
  margin-top: 12px;
  margin-left: -14px;
}

#menu-pro .pro {
  width: 30px;
  height: 84px;
  background: url(images/btn-pro.png ) no-repeat;
}

#menu-pro .da {
  width: 51px;
  height: 127px;
  background: url(images/btn-pro-da.png ) no-repeat;
}

#menu-pro .bg-couleur {
  width: 24px;
  height: 127px;
  background: url(images/btn-pro-da-couleur.png ) no-repeat;
}

#menu-pro .bg-nb {
  width: 25px;
  height: 127px;
  background: url(images/btn-pro-da-nb.png ) no-repeat;
}

#contact {
  display: inline;
  float: right;
  background: url(images/header-droit.png) no-repeat;
  width: 562px;
  height: 135px;
}

#contact a {
  display: block;
  text-indent: -9999em;
  width: 116px;
  height: 12px;
  margin-left: 432px;
  margin-top: 32px;
  background: url(images/contact.png) no-repeat;
}

#contact a:hover {
  background: url(images/contact-hover.png) no-repeat right top;
}

#content {
  width: 1217px;
  height: 686px;
  background: url(images/fond.png) no-repeat;
}
