#adrien {
  background: url(images/fond-repeat.png) repeat-x rgb(15,12,5);
}

#header {
  height: 135px;
  display: block;
}

#logo {
  display: inline;
  float: left
}

#logo a {
/* forces full link size */
  display: block;
/* this hides the text */
  text-indent: -9999em;
  width: 655px;
  height: 135px;
  background: url(images/logo.png) no-repeat;
}

#contact {
  display: inline;
  float: right;
}

#contact a {
  display: block;
  text-indent: -9999em;
  width: 116px;
  height: 12px;
  background: url(images/contact.png) no-repeat;
}

#contact a:hover {
  background: url(images/contact-hover.png) no-repeat right top;
}

#content {
  width: 1217px;
  height: 686px;
  background: url(images/fond.png) no-repeat;
}